.blog-post__container {
    display: flex;
    flex-direction: column;
    padding: 0px 70px; 
}

.post__title {
    font-family: "Livvic";
    text-transform: uppercase;
    font-size: 2em; 
    padding: 20px;
    margin: 0px;
}

.post__date {
    align-self: flex-end;
    padding: 20px;
    margin-top: -70px;
}

.post__text {
    font-size: 1em;
    padding: 0px 20px; 
}

.post__intro {
    font-weight: 600;
    margin: 0;
}

.post__image {
    width: fit-content;
    height: auto;
    object-fit: cover;
    align-self: center;
    margin: 0;
    padding: 0;
}


