.blog-post__container {
    display: flex;
    flex-direction: column;
    padding: 0px 70px; 
}

.post__title {
    font-family: "Livvic";
    text-transform: uppercase;
    font-size: 2em; 
    padding: 20px 40px;
    margin: 0px;
}

.post__date {
    align-self: flex-end;
    padding: 20px 40px;
    margin-top: -70px;
}

.post__text {
    font-size: 1em;
    padding: 0px 20px; 
}

.post__intro {
    font-weight: 600;
    padding: 0px 40px;
    margin: 0;
}

.post__paragraphs {
    padding: 0px 40px;
}

.text-content{
    padding: 100px;
}
.first-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.post__images {
    width: 28%; 
    object-fit: cover;
}


